:host {
   display: block;
   -webkit-backface-visibility: hidden;
   -webkit-perspective: 1000;
}

:host, #graph, #graph .main {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

paper-button {
    color: white;
    border-radius: 50px;
    text-transform: none;
    background-color: rgb(30, 140, 32);
}

paper-button:hover {
    background-color: #99C900;
}

iframe {
    margin: 0 -10px;
}

#graph {
    position: relative;
}

#graph form {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 500;
    padding: 10px;
    width: 300px;
}

#graph .main {
    user-select: none;
    cursor: move;
}

.labels {
    transform-style: preserve-3d;
}

.label {
    font-weight: 200;
    cursor: pointer;
    position: absolute;
    display: inline-block;
    border-radius: 10px;
    color: white;
    background: #000;
    font-size: 13px;
    opacity: 1;
}

.label:hover {
    z-index: 1000;
    opacity: 1;
    background-color: rgb(30, 140, 32); /*#759901;*/
}

.label span {
    display: inline-block;
    padding: 5px 10px;
}

.label[data-selected=true],
.label[data-expanded=true] {
    background-color: rgb(30, 140, 32);
}

.play {
    color: #333;
    font-weight: 200;
    text-decoration: none;
}

.play:hover {
    color: rgb(30, 140, 32);
}
